.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

:root {
  --color-background-light: #fbfbfb;
  --color-text-light: #353535;

  --color-background-dark: #222222;
  --color-text-dark: #e8e5e5;
}

.light-theme {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);
  --liked-player:#f1f1f1;
  --nav-color:#f1f1f1;
  --liked-player-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --placeholder-color: #353535;
}
.ql-editor {
  min-height: 200px;
  max-height: 200px;
  overflow: scroll;
}
.ql-editor.ql-blank[data-placeholder]:before {
  color: var(--color-text);
}

.dark-theme {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
  --liked-player: #353535;
  --nav-color:#353535;
  --liked-player-shadow:rgba(255, 255, 255, 0.35) 0px 5px 15px;
  --placeholder-color: #e8e5e5;
}

input::placeholder {
  color: var(--placeholder-color);
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  position: fixed !important; 
  inset: 0px !important; 
  background-color: rgba(0,0,0,0.3) !important;
}


form-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  justify-content: space-between;
  width: 200px;
}
.bld {
  text-shadow: .45px 0px .1px,
                  -.45px 0px .1px;
}


form-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 0px;

}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.sts {
  margin-left: 10px;
}


.submit {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: #17408B;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #ccc;
  cursor: pointer;
  margin-left: 10px;
  z-index: 100;
}


.player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 1.2em;
}

.player-stats h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.player-stats p {
  margin-bottom: 10px;
}
::placeholder {
  font-size: 15px;
  text-align: center;
}

.card {
  background-color: #f2f2f2;
  margin: 20px auto 50px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  width:'500px';
}

.card h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.card p {
  font-size: 16px;
  margin: 8px;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.like-btn {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: #17408B;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #ccc;
  cursor: pointer;
  margin: 3.5px;
  z-index: 100;
  
}

.remove-btn {

  margin-top: 10px ;
  font-size: 20px;
  padding: 5px 10px;
  background-color: #17408B;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #ccc;
  cursor: pointer;
  transform: scale(0.8);
 


  
}

button {
  z-index: 100;
}

* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

button {
  z-index: 100;
}

body {
  margin:0 auto;
  overflow: overlay;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}



.menu-button { background: none; border: none; color: #17408B; font-size: 2em; cursor: pointer; display: none; }

.menu-button-line {
  width: 30px;
  height: 3px;
  background: #17408B;;
  margin: 7px 0;
  transition: 0.5s;
}

.menu-button-active .menu-button-line:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.menu-button-active .menu-button-line:nth-child(2) {
  opacity: 0;
}

.menu-button-active .menu-button-line:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -7px);
}


.nav-links {
  list-style: none;
}

.dropdown {
  position: absolute;
  top: 75px;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: var(--nav-color);
  transform: translateX(0%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  z-index: 999;
  border: #17408B;
  border-radius: 0 0 0 5px;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2), 0 8px 15px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, color 0.3s;
}



.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.dropdown-container li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-enter {
  transform: translateX(100%);
  opacity: 0;
}


.dropdown-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


.dropdown-exit {
  transform: translateX(0);
  opacity: 1;
}

.dropdown-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}






.nav {
  background-color: var(--nav-color);
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  height: 75px;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.06), -10px 0 15px rgba(0, 0, 0, 0.2); 
  font: 120% system-ui;
  text-align: center;
  min-width: 100%;
  transition: background-color 0.3s, color 0.3s;
}



.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  

  
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  text-shadow: .45px 0px .1px,
  -.45px 0px .1px;

}

.like-img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgrey;
  border-width: 0.4px;

}

.liked-player-card {
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  margin-right: 50px;
  border: 1px solid lightgrey;
  cursor: pointer;
  border-radius: 30px;
  background: var(--liked-player);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  margin-bottom: 50px;
  margin-left: 35px;
  width: 202.5px;
  height: 270px;
  
 
}

.liked-player-card:hover,.liked-player-card-2:hover {
  box-shadow: var(--liked-player-shadow);
 
}




.liked-player-card-2 {

  display: flex;
  text-align:center;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 35px;
  border: none;
  font-size: 14px;
  width: 225px;
  height: 300px;
  place-items: center;
  cursor: pointer;
  border-radius: 30px;
  background: #f2f2f2;
  border: 0.3px solid;

}
netlify deploy --prod
.lcb-p {
  margin-bottom: 2px;
  
}

.liked-player-front {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}

.liked-player-card p {
  text-align: center;
}


.pnf {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.chart {
  width: 400px;
  height:250px;
  margin-top: 20px;
}


.scores-banner {
  text-align: center;
  position: relative;
}

.games-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}





.team-name {
  margin-bottom: 5px;
}

.score {
  font-weight: bold;
  font-size: larger;
}

.team-logo {
  max-width: 20%; 
  max-height: 20%; 
  display: block; 
}

.game-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 250px;
}

.team-2 {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  height: 100%;

}

.team-logo {
  max-width: 20%;
  max-height: 20%;
  display: block;

}
.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.game-card {
  background-color: var(--nav-color);
  border: 1px solid #dddddd;
  padding: 20px;
  display: flex;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 45%;
  max-width: 45%;
  min-height: 50%;
  max-height: 50%;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.time-status {
  flex: 0 0 100%;
  font-weight: bold;
}
.day-btn {
  font-size: 1.13em;
  padding: 5px 10px;
  background-color: #17408B;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #ccc;
  cursor: pointer;
  width: 150px;
  margin: 10px;

}
.day-btn-2 {
  font-size: 1.2em;
  padding: 5px 10px;
  background-color: #b5b5b5;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  cursor: pointer;
  width: 150px;
  margin: 10px;
  transition: background-color 0.3s ease;
}


.day-btn-2.selected {
  background-color: #17408b;
  color: #fff;
}
.navbar-logo {
  max-width: 80%;
  max-height: 80%;
}

.lg::placeholder {
  text-align:left;
  font-size: 20px;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom {
  from {transform: scale(0);}
  to {transform: scale(1);}
}
@media (max-width: 1200px) {
  .menu-button {
    display: block; 
    z-index: 9999;
  }

  .nav-links {
    display: none; 
  }
}

@media (min-width: 1200.000001px) {
  .menu-button {
    display: none;

  }

  .nav-links {
    display: flex; 
  }
}