
:root {
    --coin_diam: 40px;
    --coin_depth: 1px;
    --spin_speed: 0s;
  }
  

  .coin {
    display: inline-block;
    margin-right: 5px;
    height: var(--coin_diam);
    width: var(--coin_diam);
    position: relative;
    background-image: url('../images/opaque.png');
    background-position: 50% 50%;
    background-size: 35%;
    background-repeat: no-repeat;
    background-color: gold;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #f2ca17;
  }
