.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  margin-left: 14px;
}

input[type="submit"] {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  cursor: pointer;
}

.player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 1.2em;
}

.player-stats h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.player-stats p {
  margin-bottom: 10px;
}
::placeholder {
  font-size: 15px;
  text-align: center;
}

.card {
  background-color: #f2f2f2;
  width: 366px;
  display: block;
  overflow: auto;  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  padding-top: 10px;

}

.card h2 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.card p {
  font-size: 18px;
  margin: 10px 0;
}
.like-btn {
  margin-top: 10px ;
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  cursor: pointer;
  
}

.remove-btn {

  margin-top: 6px ;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  cursor: pointer;
  transform: scale(0.8);


  
}
.year-input {
  background-color: #f2f2f2;
  width: 100px;
  height: 23px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 10px;
  border:none;


}

.year-input-2 {
  background-color: #f2f2f2;
  width: 200px;
  height: 23px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
  border:none;

}


* {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}


.nav {
  background-color: #f2f2f2;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  width:100%;
  margin-top: -50px;
  height: 75px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.like-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 0.3px;
  border-width: 0.4px;
  align-self: center;
}

.liked-player-card {

  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  margin-right: 50px;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 200px;
  border-radius: 30px;
  background: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  margin-bottom: 50px;
  margin-left: 35px;
  border: 0.3px solid;
  
 
}

.liked-player-card:hover,.liked-player-card-2:hover {
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}




.liked-player-card-2 {

  display: flex;
  text-align:center;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 35px;
  border: none;
  font-size: 14px;
  width: 150px;
  height: 200px;
  place-items: center;
  cursor: pointer;
  border-radius: 30px;
  background: #f2f2f2;
  border: 0.3px solid;

}
.lcb-p {
  margin-bottom: 2px;
}








.liked-player-front {
  display: flex;
  flex-direction: column;
  place-items: center;

}

.liked-player-card p {
  text-align: center;
}
.all-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pnf {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.chart {
  width: 400px;
  height:250px;
  margin-top: 20px;
}

.body {
  margin-bottom: 300px;
}